<h1>register</h1>


<h3>Si no eres cliente puedes registrarte</h3>
<a href="/register"><button
   
  >Registrarse</button></a>
  <h3> iniciar sesión</h3>
<a href="/login"><button >Iniciar sesión</button></a>

  