
<div>
    <h1>login</h1>
<h1>this is the login</h1>
<form id="logForm">
<label >Email</label>
<input type="email" name="email"><br/>
<label >password</label>
<input type="password" name="password"><br/>
<input type="submit"><br/>
    
{{!-- <button id="gitButton">gitLog</button> --}}
</form>

</div>
<script src="/js/login.js"></script>